In [100]:
from dotenv import load_dotenv
import boto3
import os
import polars as pl
from scripts.utils import download_object, get_all_objects

In [101]:
load_dotenv()

True

In [102]:
s3 = boto3.client('s3',
    endpoint_url='https://'+os.getenv('DUCKDB_S3_ENDPOINT'),
)

In [103]:
# List all objects in the bucket
objects = s3.list_objects_v2(Bucket='archiva-apagones')
# objects

In [104]:
for obj in objects['Contents']:
    print(obj)
    break

{'Key': 'databases/regions_without_service_cache.db', 'LastModified': datetime.datetime(2024, 1, 26, 0, 20, 23, 821000, tzinfo=tzutc()), 'ETag': '"aa802cf8565e74b4ff1d0d147d52534d"', 'Size': 2109440, 'StorageClass': 'STANDARD'}

In [105]:
objects_df = (
    pl.DataFrame(get_all_objects(s3))
    .with_columns([
        pl.when(pl.col('Key').str.starts_with('genera'))
        .then(pl.col('Key').str.split('/').list.slice(0,2).list.join('/'))
        .otherwise(pl.col('Key').str.split('/').list.get(0))
        .alias('dataset')
    ])
)
objects_df

shape: (27_142, 6)
┌───────────────────┬──────────────┬───────────────────┬─────────┬──────────────┬──────────────────┐
│ Key               ┆ LastModified ┆ ETag              ┆ Size    ┆ StorageClass ┆ dataset          │
│ ---               ┆ ---          ┆ ---               ┆ ---     ┆ ---          ┆ ---              │
│ str               ┆ datetime[μs] ┆ str               ┆ i64     ┆ str          ┆ str              │
╞═══════════════════╪══════════════╪═══════════════════╪═════════╪══════════════╪══════════════════╡
│ databases/regions ┆ 2024-01-26   ┆ "aa802cf8565e74b4 ┆ 2109440 ┆ STANDARD     ┆ databases        │
│ _without_servic…  ┆ 00:20:23.821 ┆ ff1d0d147d52534…  ┆         ┆              ┆                  │
│ genera/data_sourc ┆ 2023-12-27   ┆ "cc75570b565784e1 ┆ 10311   ┆ STANDARD     ┆ genera/data_sour │
│ e/2023-12-26/ge…  ┆ 01:48:55.975 ┆ e73e04eeef2a323…  ┆         ┆              ┆ ce               │
│ genera/data_sourc ┆ 2023-12-27   ┆ "29739f74bbdb6716 ┆ 10305   ┆ STANDARD     ┆ genera/data_sour │
│ e/2023-12-26/ge…  ┆ 02:35:43.279 ┆ ef1aa064179ae25…  ┆         ┆              ┆ ce               │
│ genera/data_sourc ┆ 2023-12-27   ┆ "fb81ee8ba448e259 ┆ 10304   ┆ STANDARD     ┆ genera/data_sour │
│ e/2023-12-26/ge…  ┆ 02:40:17.820 ┆ b73cabeaafbd6b3…  ┆         ┆              ┆ ce               │
│ …                 ┆ …            ┆ …                 ┆ …       ┆ …            ┆ …                │
│ regions_without_s ┆ 2024-01-26   ┆ "b6bebc37a98b90b1 ┆ 1949    ┆ STANDARD     ┆ regions_without_ │
│ ervice/2024-01-…  ┆ 00:05:14.656 ┆ ba133db6e1cef6a…  ┆         ┆              ┆ service          │
│ regions_without_s ┆ 2024-01-26   ┆ "c3d2ba365bdbe854 ┆ 1950    ┆ STANDARD     ┆ regions_without_ │
│ ervice/2024-01-…  ┆ 00:10:14.767 ┆ 797dd5e63e2ac16…  ┆         ┆              ┆ service          │
│ regions_without_s ┆ 2024-01-26   ┆ "446e48dbd6e0ff18 ┆ 1947    ┆ STANDARD     ┆ regions_without_ │
│ ervice/2024-01-…  ┆ 00:15:14.534 ┆ c9b1557a6fa70c8…  ┆         ┆              ┆ service          │
│ regions_without_s ┆ 2024-01-26   ┆ "c12fbcd87b571e26 ┆ 1949    ┆ STANDARD     ┆ regions_without_ │
│ ervice/2024-01-…  ┆ 00:20:16.800 ┆ 1f3ca0de23433c4…  ┆         ┆              ┆ service          │
└───────────────────┴──────────────┴───────────────────┴─────────┴──────────────┴──────────────────┘

In [106]:
summary_df = (
    objects_df
    .group_by('dataset')
    .agg([
        pl.count(),
        pl.sum('Size')
    ])
    .with_columns([
        (pl.col('Size')/1e6).alias('Size (MB)'),
        (pl.col('Size')/pl.col('count')).round().alias('Avg. Size'),
        (pl.col('Size')/pl.col('count') * 288 / 1e6).round(3).alias('Avg. Daily Size (MB)'),
    ])
    .sort('Size (MB)', descending=True)
)

summary_df.to_pandas()

,dataset,count,Size,Size (MB),Avg. Size,Avg. Daily Size (MB)
0,genera/data_source,8609,88141466,88.141466,10238.0,2.949
1,outage_towns,7788,28947276,28.947276,3717.0,1.070
2,regions_without_service,10742,20936333,20.936333,1949.0,0.561
3,databases,1,2109440,2.109440,2109440.0,607.519
4,penguins.csv,1,13478,0.013478,13478.0,3.882
5,regions_without_service.json,1,1947,0.001947,1947.0,0.561

In [107]:
print('Total bucket size:')
(
    summary_df
    .select([
        pl.col('Size (MB)').sum()
    ])
)

Total bucket size:

shape: (1, 1)
┌───────────┐
│ Size (MB) │
│ ---       │
│ f64       │
╞═══════════╡
│ 140.14994 │
└───────────┘